sudo: required
language: java
jdk:
    - openjdk7
    - openjdk8
env:
    - propertiesFile=wlp1.properties
    - propertiesFile=wlp2.properties
    - propertiesFile=ol1.properties
    - propertiesFile=ol2.properties
script:
  - export GRADLE_OPTS="-Dorg.gradle.daemon=true -Dorg.gradle.jvmargs='-XX:MaxPermSize=1024m -XX:+CMSClassUnloadingEnabled -XX:+HeapDumpOnOutOfMemoryError -Xmx2048m'"
  - travis_wait ./gradlew install integrationTest -DpropertiesFile=${propertiesFile} --stacktrace --info --no-daemon
dist: trusty
