<?xml version="1.0" encoding="UTF-8"?>
<server description="Sample Liberty server">

  <featureManager>
  </featureManager>

  <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

  <webApplication contextRoot="/" location="microprofile-rest-client.war"/>
</server>