<server description="Sample Open Liberty server">

  <featureManager>
    <feature>restfulWS-3.1</feature>
    <feature>jsonb-3.0</feature>
    <feature>mpMetrics-5.1</feature>
    <feature>mpHealth-4.0</feature>
    <feature>mpConfig-3.1</feature>
  </featureManager>

  <applicationManager autoExpand="true" />

  <mpMetrics authentication="false" />

  <variable name="default.http.port" defaultValue="9080"/>
  <variable name="default.https.port" defaultValue="9443"/>

  <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

  <webApplication location="rest.war" contextRoot="/"/>
</server>
